<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="reconnect-icon">✈</div>

        <p class="components-reconnect-first-attempt-visible">
            Reconectando ao servidor...
        </p>

        <p class="components-reconnect-repeated-attempt-visible">
            Falha ao reconectar... tentando novamente em <span id="components-seconds-to-next-attempt"></span>s.
        </p>

        <p class="components-reconnect-failed-visible">
            Não foi possível reconectar.
        </p>

        <div class="components-reconnect-failed-visible reconnect-actions">
            <button id="components-reconnect-button" class="reconnect-btn">
                Tentar Novamente
            </button>
        </div>

        <p class="components-pause-visible">
            A sessão foi pausada pelo servidor.
        </p>

        <p class="components-resume-failed-visible">
            Falha ao retomar a sessão.
        </p>

        <div class="components-pause-visible components-resume-failed-visible reconnect-actions">
            <button id="components-resume-button" class="reconnect-btn">
                Retomar
            </button>
        </div>
    </div>
</dialog>
