@page "/home"

<PageTitle>Home</PageTitle>

<h1 class="text-[var(--color-primary)] font-bold text-3xl mb-4">Home</h1>

<p class="text-[var(--color-text-primary)] text-lg">Welcome to your new app.</p>
